/* 808080 ,BFD1E5,EBF5EE */
html, 
body{
    height: 100%;
    margin: 0;

}

/*Navbar*/
.bg-alpha{
    background: rgba(0, 0, 0, 0.5);
}

/* Section setting */

.border-short-bottom{
    position: relative;
    
}
.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0px;
    background: black;
    left: 13%;
    margin-left: -90px;
}
.border-short-bottom-blog{
    position: relative;
    
}
.border-short-bottom-blog::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0px;
    background: black;
    left: 50%;
    margin-left: -50px;
}

/*Carousel*/
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%;
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    color: white;
    
}
.backscreen{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* Sectiom blog */
.warpper-card-img{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}
.warpper-card-img img{
    position: absolute;
    top: 0%;
    
    
    
}
.warpper-card-img img:hover{
    transform: scale(1.2);
    
}

/* Section footer */

.them-footer{
    background-color: #BFD1E5;
    color: black;
}


.map-footer{
    position: relative;
    padding: 20px;
    width: 650px;
    

}